.events-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 5rem;
  width: 80%;
  margin: auto;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.event-card:hover {
  transform: translate(5px, -5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.event-banner {
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.event-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-main);
  padding: 5px 0;
}

.event-card p {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.upcoming {
  font-size: 1.8rem;
  color: var(--text-secondary);
  text-align: center;
  margin-top: 30px;
}

.eventh2 {
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .event-card h2 {
    font-size: 1.2rem;
  }

  .event-card p {
    font-size: 1rem;
  }

  .upcoming, .eventh2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .events-container {
    width: 100%;
  }

  .event-card {
    width: 80%;
  }

  .event-card h2 {
    font-size: 1.1rem;
  }

  .event-card p {
    font-size: 0.9rem;
  }

  .upcoming, .eventh2 {
    font-size: 1rem;
  }
}
