@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body.light {
  --main: #fcfcfc;
  --secondary: #f5f5f5f2;
  --theme-btn: #131417;
  --shadow: #0000000d;
  --card-bg: #f5f5f5;
  --text-main: #121212;
  --text-secondary: #273239;
}

body.dark {
  --main: #131417;
  --secondary: #0c0c0cf2;
  --theme-btn: #ffc13c;
  --shadow: #0000000d;
  --card-bg: #0c0c0c;
  --text-main: #ffffff;
  --text-secondary: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--main);
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden;
}

/* Custom Scroll bar */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.modal ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--main);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--text-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
}

p,
q,
li {
  font-family: "Roboto Mono", monospace;
  word-spacing: 0.2rem;
}

canvas {
  height: 100vh !important;
  width: 100% !important;
}
