.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  margin: auto;

}

.heading {
  font-size: 2.2rem;
  text-align: center;
  color: var(--text-secondary);
  text-decoration:underline;
  
  padding-bottom: 15px;
  padding-top: 20px;

}

.h_2 {
  margin-top: -50px;


}

.card {
  width: 400px;
  transition: transform 0.2s ease-in-out;

  
  
}

.card:hover {
  transform: scale(1.05);
}

.banner {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: fill;
}

.card_details {
  background-color: var(--card-bg);
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 20px;
}

.card_details h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-main);
}

.card_details p {
  font-size: 1.2rem;
  color: var(--text-secondary);
  padding-bottom: 20px;
}
.card_details p small {
  font-size: 1rem;
  color: var(--text-secondary);
}

.card_details a{
  text-decoration: none;
  color: var(--text-secondary);
}
.card_details button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

}
.card_details button:hover{
  background-color: green;
}

@media screen and (max-width: 768px) {
  .card h2 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 1rem;
  }

  .heading {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .card {
    width: 80%;
  }

  .card h2 {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .heading {
    font-size: 1.4rem;
  }
}
