.registration-form {
  max-width: 40%;
  margin: 0 auto;
}

.registration-form span {
  color: #bf1650;
  font-size: 0.9rem;
}

.registration-form h2 {
  color: var(--text-main);
  font-size: 1.5rem;
  margin: 1.5rem 0 -1rem;
}

.registration-form h3 {
  color: var(--text-main);
  font-size: 1.15rem;
  margin: 1.2rem 0 -1.2rem;
}

.registration-form span::before {
  display: inline;
  content: "⚠ ";
}

.registration-form label {
  line-height: 1;
  text-align: left;
  display: block;
  margin: 25px 0 0;
  color: var(--text-main);
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.registration-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--text-main);
  padding: 10px 15px;
  font-size: 1rem;
  margin-top: 8px;
}

.registration-form .box {
  display: flex;
  column-gap: 2rem;
}

.registration-form .box_3 {
  column-gap: 1.5rem;
}

.registration-form .box_3 label:last-child {
  flex-basis: 12%;
}

.registration-form .box label {
  flex-grow: 1;
}

.registration-form button[type="submit"] {
  background: #2f8d46;
  color: var(--main);
  text-transform: uppercase;
  width: 100%;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 10px;
  cursor: pointer;
}

.registration-form button[type="submit"]:hover {
  transition: 0.3s all;
  background: #1f8037;
}
.registration-form button[type="submit"]:disabled {
  background: #505050;
  cursor: not-allowed;
}

.Announcement_fadein__2X6vU {
  background-color: #1f8037 !important;
}

.Announcement_fadein__2X6vU div h3 {
  color: #fff !important;
}

.Announcement_fadein__2X6vU div p {
  color: #e6e6e6 !important;
}

@media screen and (max-width: 1240px) {
  .registration-form {
    max-width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .registration-form {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .registration-form .box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .registration-form {
    max-width: 80%;
  }
  .registration-form span {
    font-size: 0.7rem;
  }

  .registration-form label {
    font-size: 1rem;
  }

  .registration-form input,
  .registration-form textarea {
    font-size: 0.9rem;
  }

  .registration-form input[type="submit"] {
    font-size: 0.8rem;
  }
}
