.team {
  width: 100%;
}

.team-container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  justify-items: center;
}

.card {
  width: 300px;
  height: auto;
  padding: 15px 20px;
  border-radius: 15px;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px 0 #000000bf;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translate(5px, -5px);
  box-shadow: 2px 2px 10px 0 #000000bf;
}

.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-image img {
  width: 50%;
  border-radius: 50%;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-main);
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card a {
  text-decoration: none;
  color: var(--text-main);
  font-size: 1.5rem;
  padding: 2px;
  transition: color 0.2s ease-in-out;
}

.card a:hover {
  color: #2f8d46;
}

@media screen and (max-width: 1100px) {
  .team-container {
    width: 80%;
  }

  .card h1 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .team-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80%;
  }

  .card {
    width: 240px;
  }

  .card h1 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card a {
    font-size: 1.2rem;
  }
}
