.about {
  width: 100%;
}

.about-container {
  width: 700px;
  padding: 40px 40px 50px;
  border-radius: 25px;
  margin: 0 auto;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px 0 #000000bf;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

.about-container:hover {
  transform: translate(5px, -5px);
  box-shadow: 2px 2px 10px 0 #000000bf;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-main);
  padding: 60px 0;
}

.about .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 0.2rem;
  line-height: 1.8rem;
  color: var(--text-secondary);
}

@media screen and (max-width: 768px) {
  .about-container {
    width: 80%;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    width: 90%;
  }

  .section-title {
    font-size: 2rem;
  }

  .about p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}
