.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event-card {
  display: flex;
  flex-direction: column;
  width: 768px;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px 0;
  transition: transform 0.2s ease-in-out;
}

.event-card:hover {
  transform: translate(5px, -5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.event-banner {
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.event-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-main);
  padding: 5px 0;
}

.event-card p {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.upcoming {
  font-size: 1.8rem;
  color: var(--text-secondary);
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .event-card {
    width: 80%;
  }

  .event-card h2 {
    font-size: 1.2rem;
  }

  .event-card p {
    font-size: 1rem;
  }

  .upcoming {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .event-card {
    width: 90%;
  }

  .event-card h2 {
    font-size: 1.1rem;
  }

  .event-card p {
    font-size: 0.9rem;
  }

  .upcoming {
    font-size: 1rem;
  }
}
