.header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px var(--shadow);
  padding: 0.5rem 2rem;
  z-index: 4;
}

/* GFG Logo */

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
}

/* nav - links */

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1.5rem;
  list-style: none;
}

.ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul a {
  color: var(--text-main);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
}

/* Hamburger icon */

.munu_btn {
  -webkit-tap-highlight-color: transparent;
  height: 35px;
  width: 35px;
  display: none;
  place-content: space-evenly center;
  cursor: pointer;
}

.munu_btn > span {
  width: 25px;
  height: 2px;
  border-radius: 30px;
  background-color: black;
  transition: all 0.2s ease;
  transform-origin: top left;
}

/* Theme toogle btn */

.toogleTheme {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.toogleTheme input {
  display: none;
}

.toogleTheme input + div {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  box-shadow: inset 10px -10px 0 0 var(--theme-btn);
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease-in-out 0s, transform 0.4s ease-in-out;
}

.toogleTheme input + div:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -18px 0 var(--theme-btn), 0 18px 0 var(--theme-btn),
    18px 0 0 var(--theme-btn), -18px 0 0 var(--theme-btn),
    12px 12px 0 var(--theme-btn), -12px 12px 0 var(--theme-btn),
    12px -12px 0 var(--theme-btn), -12px -12px 0 var(--theme-btn);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.toogleTheme input:checked + div {
  box-shadow: inset 25px -25px 0 0 var(--theme-btn);
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.toogleTheme input:checked + div:after {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .munu_btn {
    display: grid;
  }

  .ul {
    width: 40%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    background-color: var(--secondary);
    backdrop-filter: blur(10px);
    border-right: 1px solid var(--secondary);
    box-shadow: 0 2px 5px var(--shadow);
    transform: translateX(-100%);
    transition: all 0.5s ease 0s;
  }

  .ul.open {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .ul {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .ul {
    width: 100%;
  }

  .munu_btn,
  .toogleTheme input + div {
    transform: scale(0.8);
  }

  .toogleTheme input:checked + div {
    transform: scale(0.4);
  }
}
