.modal,
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
}

.modal {
  z-index: 99;
}

.overlay {
  background: var(--secondary);
  opacity: 80%;
  backdrop-filter: blur(10px);
  z-index: 98;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main);
  box-shadow: 0 0 5px 0 #000000bf;
  padding: 2rem;
  border-radius: 15px;
  width: 70%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 100;
  overflow: auto;
}

.modal_head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: var(--text-main);
  padding-bottom: 1rem;
}

.modal_head h3 {
  font-size: 2rem;
  color: #2f8d46;
  line-height: 1;
}

.modal_head q {
  font-size: 1rem;
  color: var(--text-secondary);
  font-weight: 400;
}

.close_modal {
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 25%;
  font-size: 1.5rem;
  display: inline-flex;
}

.logo {
  width: 4rem;
  border-radius: 10%;
  padding: 0.1rem;
  border: 1px solid var(--text-main);
}

.modal_head span {
  flex-grow: 1;
}

.modal_body {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--text-main);
  border-radius: 10px;
  color: var(--text-main);
}

.modal_body img {
  max-width: 250px;
}

.modal_body p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

.modal_body h4 {
  line-height: 1;
  font-size: 1.5rem;
}
.modal_body h5 {
  color: var(--text-secondary);
  font-weight: 500;
}

.modal_body hr {
  margin: 8px 0 12px;
}
.socials{
  display:flex;
  justify-items:baseline ;
}

.socials {
  margin-top: 1rem;
}

.socials a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-main);
  margin-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  .modal_content {
    width: 80%;
  }

  .modal_body {
    flex-direction: column;
  }

  .modal_head h3 {
    font-size: 1.5rem;
  }

  .modal_head p {
    font-size: 0.9rem;
  }

  .socials {
    text-align:center;
  }
}

@media screen and (max-width: 480px) {
  .modal_content {
    width: 100%;
    padding: 1rem;
  }
}
