.home {
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  display: grid;
  place-content: center center;
  place-items: center center;
  text-align: center;
}

.home svg {
  width: 100%;
  height: 100%;
}

.home h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-main);
}

.home h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.home #Path_250,
.home #Path_249,
.home #Path_255 {
  fill: #2f8d46;
}

@media screen and (max-width: 768px) {
  .home h1 {
    font-size: 2rem;
  }

  .home h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .home h1 {
    font-size: 1.5rem;
  }

  .home h2 {
    font-size: 0.75rem;
  }
}
