.contacts {
  width: 100%;
}

.contacts-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.contacts-container a {
  text-decoration: none;
  color: var(--text-main);
  font-size: 2rem;
  margin: 5px 10px;
  padding: 2px;
  transition: color 0.2s ease-in-out;
}

.contacts-container a:hover {
  color: #2f8d46;
}

footer {
  color: var(--text-main);
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .contacts-container a {
    font-size: 1.5rem;
  }

  footer {
    padding: 20px 0;
    font-size: 0.8rem;
  }
}
